body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
}
a {
  color: #00b7ff
}

#menu {
 padding: 10px;
}  

#menu a {
  color:black; 
  text-decoration: none;
  padding: 10px;

}

/* HOME VIEW */

#home-view {
  background-image: url("/images/drones-br.webp");
  background-size: cover;
  filter: brightness(80%);
  height: 100vh;
  
  display: flex;
  justify-content: flex-end;

}

#home-contenido {
  filter: brightness(100%);
  margin-top:300px;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#home-contenido h1 {
  font-size:120px ;
  color: white;

}

#home-contenido a {
  font-size: 40px;
  background-color: lightgrey ;
  padding: 30px;
  border-radius: 30px;
  text-decoration: none;

}

/*  VER DRONES */

#drones-view {
 max-width: 900px;
}

 #drones-cartas-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
} 

#drone-carta {
  display: grid;
  grid-template-columns: 1fr 1fr;
}





