<h2>Create a new drone</h2>

<form action="" method="POST">

    <label for="name">Name</label>
    <input type="text" name="name"required="true" >
    <br>
    <label for="propellers">Propellers</label>
    <input type="text" name="propellers" required="true">
    <br>
    <label for="maxSpeed">MaxSpeed:</label>
    <input type="text" name="maxSpeed" required="true">
    <br>

    <button>Agregar Drone</button>

</form>

