<div id="update-drone-view">
  <h1>Update the drone</h1>

  <form id="drone-formulario" action="" method="POST">
    <div class="drone-input">
      <label for="name" require="true">Name</label>
      <input type="text" name="name" value="{{selectedDrone.name}}" />
    </div>
    <div class="drone-input">
      <label for="propellers" require="true">Propellers</label>
      <input
        type="text"
        name="propellers"
        value="{{selectedDrone.propellers}}"
      />
    </div>
    <div class="drone-input">
      <label for="maxSpeed" require="true">MaxSpeed:</label>
      <input type="text" name="maxSpeed" value="{{selectedDrone.maxSpeed}}" />
    </div>

    <button id="formulario-button">Actualizar Drone</button>

  </form>

</div>