<h2>Update the drone</h2>

<form action="" method="POST">

    <label for="name" require="true">Name</label>
    <input type="text" name="name" value="{{selectedDrone.name}}">
    <br>
    <label for="propellers" require="true">Propellers</label>
    <input type="text" name="propellers" value="{{selectedDrone.propellers}}">
    <br>
    <label for="maxSpeed" require="true">MaxSpeed:</label>
    <input type="text" name="maxSpeed" value="{{selectedDrone.maxSpeed}}">
    <br>

    <button>Actualizar Drone</button>

</form>

